@model LMS.Models.Uploader

@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    System.Data.DataTable dt = Session["subt"] as System.Data.DataTable;
    System.Data.DataTable dt1 = Session["subt1"] as System.Data.DataTable;
}

<script>
    var allDt = []
</script>

@for (int i = 0; i < dt1.Rows.Count; i++)
{
    <script>
                    var dict = {}
                    dict ["ID"] = '@dt1.Rows[i][0]'
                    dict ["Name"] = '@dt1.Rows[i][1]'
                    dict ["URL"] = '@dt1.Rows[i][2]'
                    dict ["ParentID"] = '@dt1.Rows[i][3]'

                    allDt[@i] = dict;

                    delete(dict)
    </script>
}
<!-- Server side start -->
<div class="col-12">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="header-title">Server side</h4>
            @using(Html.BeginForm("FileUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label for="enterTitle" class="col-form-label">Title</label>
                    <input id="enterTitle" class="form-control" type="text" required placeholder="Enter Title" name="title" />
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="Year">Year</label>
                        <select name="yrr" required id="Year" onchange="changed('Year', 'Semester')" class="form-control">
                            <option value="none" selected disabled hidden>Select Year</option>
                            @for (int i = 0; i < dt.Rows.Count; i++)
                            {
                                <option value="@dt.Rows[i][1]">@dt.Rows[i][1]</option>
                            }
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Semester">Semester</label>
                        <select name="semm" onchange="changed('Semester', 'Subject')" id="Semester" class="form-control">
                            <option value="none" selected disabled hidden>Select Semester</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Subject">Subject</label>
                        <select name="subb" class="form-control" id="Subject">
                            <option value="none" selected disabled hidden>Select Subject</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                </div>


                <b class="text-muted mb-1 mt-0 d-block">Select Document Type</b>
                <div class="custom-control custom-radio mb-lg-2 custom-control-inline">
                    <input value="Notes" type="radio" name="upload_type" class="custom-control-input" id="notes" />
                    <label class="custom-control-label" for="notes">Notes</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input value="Syllabus" type="radio" name="upload_type" class="custom-control-input" id="syy" />
                    <label class="custom-control-label" for="syy">Syllabus</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input value="Assignment" type="radio" name="upload_type" class="custom-control-input" id="ass" />
                    <label class="custom-control-label" for="ass">Assignment</label>
                </div>


                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input name="filee" type="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck">
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            }
            @ViewBag.Message
        </div>
    </div>
</div>
<!-- Server side end -->


<script>
    function changed(cur, child) {

        var val = document.getElementById(cur).value;
        var select = document.getElementById(child)

        var chld = select.lastChild;

        while (chld) {
            select.removeChild(chld)
            chld = select.lastChild
        }

        var dOpt = new Option("Select " + child, 'none', true, true)
        dOpt.setAttribute("hidden", "");

        select.appendChild(dOpt)

        var pID;
        for (var i = 0; i < allDt.length; i++) {
            var temp = allDt[i];
            if (temp['Name'] == val) {
                pID = temp['ID'];
            }
        }
        for (var i = 0; i < allDt.length; i++) {
            var temp = allDt[i];
            if (temp['ParentID'] == pID) {
                var microTemp = temp['Name']
                let opt = new Option(microTemp, microTemp);
                console.log(opt)
                select.appendChild(opt)
            }
        }
        if (cur == 'Year') {
            var gc = document.getElementById('Subject')
            var chldd = gc.lastChild
            while (chldd) {
                gc.removeChild(chldd)
                chldd = gc.lastChild
            }

            var dOptt = new Option("Select Subject", 'none', true, true)
            dOptt.setAttribute("hidden", "");

            gc.appendChild(dOptt)
        }
    }
</script>